{% set data = booker.bookingData %}
{% set settings = config.get %}

{% if room.maximumOfChildren == "0" %}
    {% set children_state = true %}
{% endif %}

{% include 'Ui/_booking.html.twig' %}

<section class="container px-0 px-md-4">
    <div class="row my-md-4 mt-4 mb-3">
        <div class="col-12">
            <div>
                <a href="{{ path('app_home') }}" class="btn btn-sm btn-primary">
                    <i class="fas fa-home mr-2"></i> Retour à l'accueil
                </a>
            </div>
            <div class="text-center my-md-3 mt-4">
                <h2 class="h2-responsive font-weight-stone-600 text-secondary">Sélectionnez votre date de séjour</h2>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8">
            {% for label, messages in app.flashes(['error']) %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show mt-2 mb-3" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-12 col-md-8">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'booking-select-data-form', 'id': 'booking-select-data-form'}}) }}
            <div class="d-flex justify-content-center align-items-end">
                <div class="booking-form-bulk">
                    <div class="booking-form">
                        <div class="d-flex">
                            <div id="booking-checkin-btn" class="booking-bulk checkin d-flex align-items-center">
                                <div class="icon"><i class="fas fa-calendar text-primary"></i></div>
                                <div>
                                    <div class="title text-secondary">Arrivée</div>
                                    <div class="date-content grey-text">
                                        {{ data.checkin|format_datetime('medium', 'none', locale='fr') }}
                                    </div>
                                </div>
                            </div>
                            <div id="booking-checkout-btn" class="booking-bulk checkout d-flex align-items-center">
                                <div class="icon"><i class="fas fa-calendar text-primary"></i></div>
                                <div>
                                    <div class="title text-secondary">Départ</div>
                                    <div class="date-content grey-text">
                                        {{ data.checkout|format_datetime('medium', 'none', locale='fr') }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mt-md-3">
                            <div id="booking-booker-btn" class="booking-bulk user d-flex align-items-center">
                                <div class="icon"><i class="fas fa-user text-primary"></i></div>
                                <div>
                                    <div class="title text-secondary">Voyageurs</div>
                                    <div class="date-content grey-text">
                                        <span class="room">{{ data.roomNumber }} chambre, </span>
                                        <span class="customer">{{ data.adult }} adultes, </span>
                                        <span class="children">{{ data.children }} enfants</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form.checkin) }}
                        {{ form_widget(form.checkout) }}
                        {{ form_widget(form.adult) }}
                        {{ form_widget(form.children) }}
                        {{ form_widget(form.roomNumber) }}
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="z-depth-4 btn btn-primary btn-block booking-form-btn">
                            Réserver maintenant
                        </button>
                    </div>
                </div>
            </div>

            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="col-12 col-md-8">
            <div class="mt-5 mb-4 d-flex align-items-end justify-content-center">
                <a href="{{ path('app_home') }}" class="">
                    <img src="{{ vich_uploader_asset(settings, 'file') }}" alt="Logo du site"
                         class="img-fluid logo mt-5" style="width: 180px !important;"/>
                </a>
            </div>
        </div>
    </div>
</section>



