<div class="form-row">
    <div class="col-12">
        <div class="h5-responsive border border-dark border-top-0 border-left-0 border-right-0">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">1</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Information de base</div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12 col-md-4">
        {{ form_row(form.name) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.email) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.phone) }}
        <small class="form-text text-muted" style="margin-top: -4px">
            Ce champ est obligatoire
        </small>
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.fax) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.country) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.city) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.address) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.checkinTime) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.checkoutTime) }}
    </div>
    <div class="col-12 col-md-8">
        <div class="md-form md-outline">
            {{ form_widget(form.description) }}
            {{ form_label(form.description) }}
            <div class="red-text font-weight-stone-500">{{ form_errors(form.description) }}</div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12">
        <div class="h5-responsive border border-dark border-top-0 border-left-0 border-right-0">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">2</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Media</div>
        </div>
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-5 col-md-3 col-lg-2">
        <div class="file-field">
            <div class="btn btn-mdb-color float-left">
                <span>Choisir un logo</span>
                <input type="file" name="{{ form.file.children.file.vars.full_name }}" id="entity-image" />
            </div>
        </div>
    </div>
    <div class="col-4 col-md-3 col-lg-2">
        <img src="{{ vich_uploader_asset(settings, 'file') }}" alt="" class="img-fluid img-thumbnail" id="image-view" />
    </div>
</div>

<div class="form-row mt-4">
    <div class="col-12">
        <div class="h5-responsive border border-dark border-top-0 border-left-0 border-right-0">
            <div class="badge badge-dark d-inline-block mr-1" style="position: relative; bottom: 6px;">3</div>
            <div class="text-dark d-inline-block font-weight-stone-500">Adresse sociale</div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12 col-md-4">
        {{ form_row(form.facebookAddress) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.twitterAddress) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.instagramAddress) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.linkedinAddress) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_row(form.youtubeAddress) }}
    </div>
</div>

