{% extends 'base.html.twig' %}

{% set settings = config.get %}

{% block app_navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top {#mx-3 mt-3#} {#navbar navbar-expand-lg navbar-dark fixed-top#} d-none d-lg-block pt-3 {#scrolling-navbar#}">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ vich_uploader_asset(settings, 'file') }}" alt="Logo du site" class="img-fluid logo py-0"/>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_room_index') }}" data-offset="100">Hébergements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_service_index') }}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_gallery_index') }}">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Nos offres</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons ml-md-4">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ render(controller('App\\Controller\\MenuController::dropdownMenu')) }}
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_register') }}" type="button" class="btn btn-secondary btn-sm waves-effect waves-light">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Se connecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {# Mobile navbar #}
    <nav class="navbar fixed-top navbar-expand-lg double-nav d-block d-lg-none">
        <div class="float-left d-flex">
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="fas fa-stream"></i>
            </a>
        </div>
        <div class="float-right mobile-btn">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ render(controller('App\\Controller\\MenuController::dropdownMenu')) }}
            {% else %}
                <a href="{{ path('app_login') }}" {#style="height: 38px !important;"#} type="button" class="btn btn-primary btn-sm waves-effect waves-light">Se connecter</a>
            {% endif %}

            {#<a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ vich_uploader_asset(settings, 'file') }}" alt="Logo du site" class="img-fluid py-0"/>
            </a>#}
        </div>
    </nav>

    <div id="slide-out" class="side-nav mobile sn-bg-4 fixed d-block d-lg-none">
        <ul class="custom-scrollbar">
            <li class="logo-sn waves-effect py-3">
                <div class="text-center">
                    <a href="{{ path('app_home') }}" class="pl-0">
                        <img src="{{ asset('images/logo_w2.png') }}" style="width: 180px !important;" alt="Logo du site" />
                    </a>
                </div>
            </li>

            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ render(controller('App\\Controller\\MenuController::dropdownMenu')) }}
            {% else %}
                <li class="py-3">
                    <div class="text-center d-flex justify-content-between mx-3">
                        <a href="{{ path('app_register') }}" style="height: 38px !important;" type="button" class="btn btn-secondary btn-sm  waves-effect waves-light">S'inscrire</a>
                        <a href="{{ path('app_login') }}" style="height: 38px !important;" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Se connecter</a>
                    </div>
                </li>
            {% endif %}#}
            <li>
                <ul class="collapsible collapsible-accordion">
                    {#<li>
                        <a href="{{ path('app_admin_dashboard') }}" class="waves-effect {% if dashboard %}active{% endif %}">
                            <i class="sv-slim-icon fas fa-th-large"></i>
                            Tableau de bord
                        </a>
                    </li>#}
                    <li>
                        <a href="{{ path('app_room_index') }}" class="waves-effect">
                            <i class="sv-slim-icon fas fa-bed"></i>
                            Hébergements
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_service_index') }}" class="waves-effect">
                            <i class="sv-slim-icon fas fa-clipboard-list"></i>
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="" class="waves-effect">
                            <i class="sv-slim-icon fas fa-utensils"></i>
                            Restaurants
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_gallery_index') }}" class="waves-effect">
                            <i class="sv-slim-icon far fa-images"></i>
                            Galerie
                        </a>
                    </li>
                    <li>
                        <a href="" class="waves-effect">
                            <i class="sv-slim-icon fas fa-star"></i>
                            Nos offres
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
{% endblock %}




