<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div id="entity-list-delete-bulk-btn" class="mr-3 d-none entity-discount-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
        <div class="d-flex ml-auto">
            {% set path = path('app_admin_discount_create') %}
            {% include 'Ui/Grid/Action/create.html.twig' with {'path': path, 'action': {'label': 'Créer'}} %}
        </div>
    </div>
</div>

{% if discounts|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox" style="padding-left: 0!important;"></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Valeur</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Code de réduction</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Nombre d'utilisation</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Utiliser</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Type</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for discount in discounts %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ discount.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center">
                            {{ discount.discount }}
                            {% if discount.type == 'PF' %}cfa{% else %}%{% endif %}
                        </td>
                        <td class="text-center">{{ discount.code }}</td>
                        <td class="text-center">{{ discount.utilisation }}</td>
                        <td class="text-center">{{ discount.utiliser }}</td>
                        <td class="text-center">
                            {% if discount.type == 'PF' %}Prix fixe{% else %}Pourcentage à déduire{% endif %}
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-h text-primary"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_discount_edit', {'id': discount.id}) }}" class="dropdown-item">
                                        <i class="fas fa-pencil-alt mr-1"></i> Editer
                                    </a>
                                    <a class="dropdown-item entity-discount-delete" id="{{ discount.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ discounts.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2 mb-5">
            {{ knp_pagination_render(discounts, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="h3-responsive font-weight-stone-600">
                Vous n'avez aucun code de réduction.
            </h3>
        </div>
    </div>
{% endif %}
