<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div id="entity-list-delete-bulk-btn" class="mr-3 d-none entity-admin-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
        <div class="d-flex ml-auto">
            <div class="">
                {% include 'admin/admin/filter.html.twig' with {'form': searchForm}  %}
            </div>
            {% set path = path('app_admin_admin_create') %}
            <div class="mr-3">
                <a href="" class="btn btn-grey" data-toggle="modal" data-target="#entity-search">
                    <i class="fas fa-filter mr-1" aria-hidden="true"></i> Filtres
                </a>
            </div>
            {% include 'Ui/Grid/Action/create.html.twig' with {'path': path, 'action': {'label': 'Créer'}} %}
        </div>
    </div>
</div>

{% if admins|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox"
                                   style="padding-left: 0!important; "></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Nom et prénom</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Email</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Téléphone</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Roles</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Status</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for admin in admins %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ admin.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center">
                            {{ admin.lastName|capitalize }} {{ admin.firstName|capitalize }}
                        </td>
                        <td class="text-center">{{ admin.email }}</td>
                        <td class="text-center">{{ admin.phone }}</td>
                        <td class="text-center">
                            {% for role in admin.roles %}
                                {% if role != 'ROLE_USER' %}
                                    {{ role }} {% if loop.first %},{% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            {% if admin.enabled %}
                                <span class="badge badge-success">
                                    <i class="fas fa-check mr-1"></i> Actif
                                </span>
                            {% else %}
                                <span class="badge badge-danger">
                                    <i class="fas fa-times mr-1"></i> Inactif
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-h text-primary"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_admin_edit', {'id': admin.id}) }}" class="dropdown-item">
                                        <i class="fas fa-pencil-alt mr-1"></i> Editer
                                    </a>
                                    <a class="dropdown-item entity-admin-delete" id="{{ admin.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ admins.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2 mb-5">
            {{ knp_pagination_render(admins, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="h3-responsive font-weight-stone-600">
                Vous n'avez aucun compte administrateur.
            </h3>
        </div>
    </div>
{% endif %}
