<section class="row mb-5 mt-md-5 d-flex justify-content-center">
    <div class="col-md-6">
        {{ form_start(form_password, {'attr': { 'class': 'fos_user_password_change', 'novalidate': 'novalidate' } }) }}
        <div class="card card-cascade mb-5">
            <div class="view view-cascade gradient-card-header bg-primary pt-3 pb-2 z-depth-2"
                 style="border-radius: 0 !important">
                <h5 class="card-header-title h5-responsive">
                    Mot de passe
                </h5>
            </div>
            <div class="card-body card-body-cascade">
                <div class="form-row">
                    <div class="col-12">
                        <div class="md-form form-lg md-outline input-with-post-icon mb-0">
                            <i class="fas fa-eye input-prefix"></i>
                            <input type="password" id="{{ form_password.password.first.vars.id }}"
                                   value="{{ form_password.password.first.vars.value }}"
                                   name="{{ form_password.password.first.vars.full_name }}" required
                                   class="form-control form-control-lg" />
                            <label for="{{ form_password.password.first.vars.id }}">{{ form_password.password.first.vars.label|trans }}</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="md-form form-lg md-outline input-with-post-icon mb-0">
                            <i class="fas fa-eye input-prefix"></i>
                            <input type="password" id="{{ form_password.password.second.vars.id }}"
                                   value="{{ form_password.password.second.vars.value }}"
                                   name="{{form_password.password.second.vars.full_name }}" required
                                   class="form-control form-control-lg" />
                            <label for="{{ form_password.password.second.vars.id }}">{{ form_password.password.second.vars.label|trans }}</label>
                        </div>
                    </div>
                    {{ form_widget(form_password._token) }}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-lock mr-1"></i> Modifier mon mot de passe
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form_password, {'render_rest': false}) }}
    </div>
</section>





