{% extends 'site/layout.html.twig' %}

{% block title 'Contact' %}

{% set settings = config.get %}

{% block meta %}
    {% set content = "Contactez nous pour plus d'information ou pour des demandes spécifiques" %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_intro %}
    <div class="view intro" style="background-image: url({{ asset('images/default.jpg') }}); background-repeat: no-repeat; background-size: cover;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center wow fadeIn">
                    <div class="col-12 col-md-10 col-lg-9 mb-4 text-primary text-center">
                        <h1 class="display-3 font-weight-bold d-none d-md-block mt-md-5 pt-md-5 text-center">Contact</h1>
                        <h1 class="display-5 font-weight-bold d-block d-md-none text-center mt-5 pt-5">Contact</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bc">
        <div class="mx-md-5 mx-3">
            {{ wo_render_breadcrumbs({viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
        </div>
    </div>
{% endblock %}

{% block app_body %}
    <div class="row d-flex justify-content-center mb-4">
        <div class="col-12">
            {% include 'site/contact/_content.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'Ui/_stylesheets.html.twig' with {'path': 'assets/css/site/intro.css'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://www.google.com/recaptcha/api.js?render=6LfSnr0UAAAAAGgVbAAZQdtn8UdJ6CAMTf79myG_"></script>
    <script>
        let route = '{{ path('app_contact') }}';

        grecaptcha.ready(function() {
            grecaptcha.execute('6LfSnr0UAAAAAGgVbAAZQdtn8UdJ6CAMTf79myG_', {action: route})
                .then(function(token) {
                    $('input.app-recaptchaToken').val(token);
                });
        });
    </script>
{% endblock %}

