{% extends 'site/layout.html.twig' %}

{% block title room.name ~ ' | Nos hébergements' %}

{% block meta %}
    {% set content = room.description %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_intro %}
    <div class="view intro" style="background-image: url({{ asset(room.gallery.first.webPath) }}); background-repeat: no-repeat; background-size: cover;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center wow fadeIn">
                    <div class="col-12 col-md-12 mb-4 text-primary text-center">
                        <h1 class="display-4 font-weight-bold d-none d-md-block mt-lg-5 pt-md-2 pt-lg-5 mt-md-0 text-center">{{ room.name }}</h1>
                        <h1 class="display-5 font-weight-bold d-block d-md-none text-center">{{ room.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bc">
        <div class="container">
            {{ wo_render_breadcrumbs({viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-angle-right'}) }}
        </div>
    </div>
{% endblock %}

{% block app_body %}
    <section class="row mx-lg-5 mx-md-1">
        <div class="col-12">
            {{ render(controller('App\\Controller\\BookingController::search')) }}
        </div>
        <div class="col-12">
            {% include 'site/room/show/content.html.twig' %}
        </div>
    </section>

    {{ include('site/newsletter/_subscribe.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% include 'Ui/_stylesheets.html.twig' with {'path': 'assets/css/site/room.css'} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.booking-form-sticky').sticky({topSpacing: 70, zIndex: 999, stopper: ".sticky-stopper", stickyClass: 'active'});
    </script>
    {% include 'Ui/_javascripts.html.twig' with {'path': 'assets/js/site/booking.js'} %}
    {% include 'Ui/_javascripts.html.twig' with {'path': 'assets/js/site/room.js'} %}
    <script>
        $("#mdb-lightbox-ui").load("/assets/mdb-addons/mdb-lightbox-ui.html");
    </script>
{% endblock %}


