{% form_theme form 'Ui/Form/theme.html.twig' %}

<section class="row mb-5 d-flex justify-content-center">
    <div class="col-md-10 col-lg-7 mb-4">
        <div class="card">
            <div class="card-body">
                <h2 class="h2-responsive text-secondary text-center font-weight-stone-600 pb-1">
                    Mot de passe oublié
                </h2>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}

                <div class="form-row d-flex align-items-center justify-content-between">
                    <div class="col-12 col-md-6 col-lg-7 pb-3">
                        {{ form_row(form.email) }}
                        {{ form_widget(form._token) }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <button type="submit" class="btn btn-primary btn-sm btn-block" >M'envoyer les instructions</button>
                    </div>
                </div>

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</section>


