<section class="row mb-5 d-flex justify-content-center">
    <div class="col-md-12 col-lg-9 mb-4">
        <div class="card">
            <div class="card-body">
                <h2 class="h2-responsive text-secondary text-center font-weight-stone-600 pb-1">
                    Redéfinir mon mot de passe
                </h2>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}

                <div class="form-row d-md-flex justify-content-md-center">
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="md-form md-outline input-with-post-icon mb-0">
                            <i class="fas fa-eye input-prefix"></i>
                            <input type="password" id="{{ form.password.first.vars.id }}"
                                   value="{{ form.password.first.vars.value }}"
                                   name="{{ form.password.first.vars.full_name }}" required
                                   class="form-control"  />
                            <label for="{{ form.password.first.vars.id }}">{{ form.password.first.vars.label|trans }}</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="md-form md-outline input-with-post-icon mb-0">
                            <i class="fas fa-eye input-prefix"></i>
                            <input type="password" id="{{ form.password.second.vars.id }}"
                                   value="{{ form.password.second.vars.value }}"
                                   name="{{ form.password.second.vars.full_name }}" required
                                   class="form-control"  />
                            <label for="{{ form.password.second.vars.id }}">{{ form.password.second.vars.label|trans }}</label>
                        </div>
                        {{ form_widget(form._token) }}
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center pt-3">
                        <button type="submit" class="btn btn-primary btn-sm btn-block" >Réinitialiser mon mot de passe</button>
                    </div>
                </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</section>




