<div class="row mb-4">
    <div class="col-12 d-flex justify-content-center justify-content-md-between">
        <div id="entity-list-delete-bulk-btn" class="mr-3 d-none entity-supplement-delete-bulk-btn">
            {% include 'Ui/Grid/Action/delete.html.twig' with {'action': {'label': 'Supprimer'}} %}
        </div>
        <div class="d-flex ml-auto">
            {% set path = path('app_admin_supplement_create') %}

            {% include 'Ui/Grid/Action/create.html.twig' with {'path': path, 'action': {'label': 'Créer'}} %}
        </div>
    </div>
</div>

{% if supplements|length > 0 %}
    <div class="row app-user mb-5">
        <div class="col-12">
            <table class="table table-responsive-sm">
                <thead class="text-primary">
                <tr>
                    <th scope="col" class="text-center">
                        <div class="" style="position: relative; right: 10px; top: 2px">
                            <input type="checkbox" name="principal" class="form-check-input filled-in" id="principal-checkbox" value="" style="margin: 0 !important;" />
                            <label class="form-check-label" for="principal-checkbox"
                                   style="padding-left: 0!important; "></label>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-stone-500 text-center">Nom</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Prix</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Type</th>
                    <th scope="col" class="font-weight-stone-500 text-center">Emplacement</th>
                    <th scope="col" class="font-weight-stone-500 text-center"></th>
                </tr>
                </thead>
                <tbody id="list-checkbook-container">
                {% for supplement in supplements %}
                    <tr>
                        <td class="text-center">
                            <div class="" style="position: relative; right: 10px; top: 2px">
                                <input type="checkbox" name="checkbox{{ loop.index }}" class="form-check-input filled-in list-checkbook"
                                       id="checkbox{{ loop.index }}" value="{{ supplement.id }}" style="margin: 0 !important;" />
                                <label class="form-check-label" for="checkbox{{ loop.index }}" style="padding-left: 0!important; "></label>
                            </div>
                        </td>
                        <td class="text-center">{{ supplement.name }}</td>
                        <td class="text-center">{{ supplement.price|format_currency('XOF') }}</td>
                        <td class="text-center">
                            {% if supplement.type == 1 %}Par personne
                            {% elseif supplement.type == 2 %}Par jour
                            {% elseif supplement.type == 3 %}Par reservation
                            {% else %}Par jour et par personne
                            {% endif %}
                        </td>
                        <td class="text-center"><span class="badge badge-grey">{{ loop.index }}</span></td>
                        <td class="text-center">
                            <div class="dropdown">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-ellipsis-h text-primary"></i></a>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right mt-0">
                                    <a href="{{ path('app_admin_supplement_edit', {'id': supplement.id}) }}" class="dropdown-item">
                                        <i class="fas fa-pencil-alt mr-1"></i> Editer
                                    </a>
                                    <a href="{{ path('app_admin_supplement_move', {'id': supplement.id, 'pos': -1}) }}" class="dropdown-item">
                                        <i class="fas fa-arrow-up mr-1"></i> Monter
                                    </a>
                                    <a href="{{ path('app_admin_supplement_move', {'id': supplement.id, 'pos': 1}) }}" class="dropdown-item">
                                        <i class="fas fa-arrow-down mr-1"></i> Descendre
                                    </a>
                                    <a class="dropdown-item entity-supplement-delete" id="{{ supplement.id }}">
                                        <i class="fas fa-trash mr-1 text-danger"></i> Supprimer
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2">
            <div class="font-weight-stone-500 text-secondary">{{ supplements.totalItemCount }} resultats</div>
        </div>
        <div class="col-12 d-flex justify-content-center mt-2 mb-5">
            {{ knp_pagination_render(supplements, 'Ui/_pagination.html.twig') }}
        </div>
    </div>
{% else %}
    <div class="row app-user d-flex justify-content-center">
        <div class="col-12 col-md-8 text-center mt-3 mt-md-5">
            <h3 class="h3-responsive font-weight-stone-600">
                Vous n'avez aucun supplément.
            </h3>
        </div>
    </div>
{% endif %}
